{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ if (gt (len ($context.GetTerms $taxo)) 0) -}}
<div class="taxonomy taxonomy-terms-badge taxo-{{ urlize $taxo }}">
  <h5 class="taxonomy-title">{{ humanize $taxo }}:</h5>
  <ul class="taxonomy-terms">
    {{/* Default badge configurations (can be overridden in site.Params) */}}
    {{ $default_badge_bg_color := site.Params.default_badge_color | default "777777" }} {{/* Grey */}}
    {{ $default_badge_logo_color := site.Params.default_badge_logo_color | default "white" }}
    {{ $default_badge_style := site.Params.default_badge_style | default "for-the-badge" }}

    {{/* Per-term configurations from data file (e.g., data/taxonomy_badge_configs.toml) */}}
    
    {{ $badge_configs := site.Data.taxonomy_badge_configs | default dict }}

    {{ range ($context.GetTerms $taxo) -}}
      {{ $term := . }}
      {{ $term_key := $term.LinkTitle | urlize }} {{/* Consistent key, e.g., "c++" -> "c--" */}}
      {{ with index $badge_configs $term_key }}
        {{ $term_config := . }}

        {{ $badge_label_text := $term.LinkTitle }}
        {{ $badge_bg_color := $term_config.color | default $default_badge_bg_color }}
        {{ $badge_logo := $term_config.logo | default $term_key }} {{/* Default to term_key, e.g. "terraform", "go". For "c--", manual config is better. */}}
        {{ $badge_logo_color := $term_config.logoColor | default $default_badge_logo_color }}
        {{ $badge_style := $term_config.style | default $default_badge_style }}

        {{/* Construct the shields.io URL. Label and logo are URL-encoded for safety. */}}
        {{ $img_src := printf "https://img.shields.io/badge/%s-%s.svg?logo=%s&logoColor=%s" ($badge_label_text | urlquery) $badge_bg_color ($badge_logo | urlquery) $badge_logo_color }}
        <li>
          <a class="taxonomy-term" href="{{ $term.Permalink }}" data-taxonomy-term="{{ $term.LinkTitle | urlize }}">
            <img src="{{ $img_src | safeURL }}" alt="{{ $badge_label_text }} badge" style="vertical-align: middle;" />
          </a>
        </li>
      {{ else }}
        <li>
          <a class="taxonomy-term" href="{{ $term.Permalink }}" data-taxonomy-term="{{ $term.LinkTitle }}">{{ $term.LinkTitle }}</a>
        </li>
      {{ end }}
    {{ end -}}
  </ul>
</div>
{{ end -}}