{{ $context := .context -}}
{{ $taxo := .taxo -}}
{{ $title := .title -}}
{{ if isset $context.Site.Taxonomies (lower $taxo) -}}
  {{ $taxonomy := index $context.Site.Taxonomies (lower $taxo) -}}
  {{ if (gt (len $taxonomy) 0) -}}
    <div class="taxonomy taxonomy-terms-cloud taxo-{{ urlize $taxo }}">
      {{ with $title -}}
        <h5 class="taxonomy-title">{{ . }}</h5>
      {{ end -}}
      <ul class="taxonomy-terms">
        {{/* Default badge configurations (can be overridden in site.Params) */}}
        {{ $default_badge_bg_color := site.Params.default_badge_color | default "777777" }} {{/* Grey */}}
        {{ $default_badge_logo_color := site.Params.default_badge_logo_color | default "white" }}
        {{ $default_badge_style := site.Params.default_badge_style | default "for-the-badge" }}

        {{/* Per-term configurations from data file (e.g., data/taxonomy_badge_configs.toml) */}}
        {{ $badge_configs := site.Data.taxonomy_badge_configs | default dict }}

        {{ range $taxonomy -}}
          {{ $term_title := .Page.Title }}
          {{ $term_key := $term_title | urlize }}
          {{ $page_permalink := .Page.Permalink }}
          {{ $page_title := .Page.Title }}
          {{ $page_count := .Count }}

          {{ with index $badge_configs $term_key }}
            {{ $term_config := . }}

            {{ $badge_label_text := $term_title }}
            {{ $badge_bg_color := $term_config.color | default $default_badge_bg_color }}
            {{ $badge_logo := $term_config.logo | default $term_key }}
            {{ $badge_logo_color := $term_config.logoColor | default $default_badge_logo_color }}

            {{ $img_src := printf "https://img.shields.io/badge/%s-%s.svg?logo=%s&logoColor=%s" ($badge_label_text | urlquery) $badge_bg_color ($badge_logo | urlquery) $badge_logo_color }}
            <li>
              <a class="taxonomy-term" href="{{ $page_permalink }}" data-taxonomy-term="{{ $term_key }}">
                <img src="{{ $img_src | safeURL }}" alt="{{ $badge_label_text }} badge" style="vertical-align: middle; margin-right: 4px;" />
                <span class="taxonomy-count">{{ $page_count }}</span>
              </a>
            </li>
          {{ else }}
            <li>
              <a class="taxonomy-term" href="{{ $page_permalink }}" data-taxonomy-term="{{ $term_key }}">
                <span class="taxonomy-label">{{ $page_title }}</span>
                <span class="taxonomy-count">{{ $page_count }}</span>
              </a>
            </li>
          {{ end }}
        {{ end -}}
      </ul>
    </div>
  {{ end -}}
{{ end -}}
